{% extends "layout.html" %}
{% block title %}
    Tabela de Acessos 
{% endblock %}
{% block content %}
    <table class="centralized-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>IP Address</th>
                <th>Nome Pokemon</th>
            </tr>
        </thead>
        <tbody>
            {% for search in searches %}
            <tr>
                <td>{{ search.id }}</td>
                <td>{{ search.ip_address }}</td>
                <td>{{ search.pokemon_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}